Please run those two cells before running the Notebook!

As those plotting settings are standard throughout the book, we do not show them in the book every time we plot something.

In [18]:
# %matplotlib inline
%config InlineBackend.figure_format = "retina"

In [19]:
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
# from pandas.core.common import SettingWithCopyWarning
# warnings.simplefilter(action="ignore", category=FutureWarning)
# warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)

# feel free to modify, for example, change the context to "notebook"
sns.set_theme(context="talk", style="whitegrid", 
              palette="colorblind", color_codes=True, 
              rc={"figure.figsize": [12, 8]})

# Chapter 1 - Acquiring Financial Data

## 1.1 Getting data from Yahoo Finance

### How to do it...

1. Import the libraries:

In [20]:
import pandas as pd 
import yfinance as yf

2. Download the data:

In [21]:
df = yf.download("AAPL", 
                 start="2011-01-01", 
                 end="2021-12-31",
                 progress=False)

3. Inspect the data:

In [22]:
print(f"Downloaded {len(df)} rows of data.")
df

Downloaded 2768 rows of data.

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2011-01-03,11.630000,11.795000,11.601429,11.770357,9.964779,445138400
2011-01-04,11.872857,11.875000,11.719643,11.831786,10.016785,309080800
2011-01-05,11.769643,11.940714,11.767857,11.928571,10.098720,255519600
2011-01-06,11.954286,11.973214,11.889286,11.918929,10.090561,300428800
2011-01-07,11.928214,12.012500,11.853571,12.004286,10.162821,311931200
...,...,...,...,...,...,...
2021-12-23,175.850006,176.850006,175.270004,176.279999,174.066498,68356600
2021-12-27,177.089996,180.419998,177.070007,180.330002,178.065643,74919600
2021-12-28,180.160004,181.330002,178.529999,179.289993,177.038696,79144300
2021-12-29,179.330002,180.630005,178.139999,179.380005,177.127594,62348900
2021-12-30,179.470001,180.570007,178.089996,178.199997,175.962402,59773000

### There's more

We can also use the `Ticker` class to download the historical prices and much more.

In [23]:
# instantiate the Ticker class
aapl_data = yf.Ticker("AAPL")

In [24]:
# get the last month of historical prices
aapl_data.history()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-01-22 00:00:00-05:00,192.054929,195.081066,192.014971,193.642899,60133900,0.00,0.0
2024-01-23 00:00:00-05:00,194.771475,195.500540,193.582989,194.931259,42355600,0.00,0.0
2024-01-24 00:00:00-05:00,195.170947,196.129730,194.092321,194.252121,53631300,0.00,0.0
2024-01-25 00:00:00-05:00,194.971211,196.019876,192.863900,193.922546,54822100,0.00,0.0
2024-01-26 00:00:00-05:00,194.022423,194.511788,191.695390,192.174774,44594000,0.00,0.0
2024-01-29 00:00:00-05:00,191.765299,191.955059,189.338403,191.485657,47145600,0.00,0.0
2024-01-30 00:00:00-05:00,190.696667,191.555572,187.231088,187.800354,55859400,0.00,0.0
2024-01-31 00:00:00-05:00,186.801628,186.861565,184.115069,184.164993,55467800,0.00,0.0
2024-02-01 00:00:00-05:00,183.755534,186.711754,183.585753,186.621872,64885400,0.00,0.0
2024-02-02 00:00:00-05:00,179.630787,187.091269,179.021564,185.613159,102518000,0.00,0.0
2024-02-05 00:00:00-05:00,187.910213,189.008818,185.603160,187.440811,69668800,0.00,0.0
2024-02-06 00:00:00-05:00,186.621869,189.068743,186.531987,189.058762,43490800,0.00,0.0
2024-02-07 00:00:00-05:00,190.397053,190.806534,188.369641,189.168625,53439000,0.00,0.0
2024-02-08 00:00:00-05:00,189.148646,189.298448,187.111252,188.080017,40962000,0.00,0.0
2024-02-09 00:00:00-05:00,188.649994,189.990005,188.000000,188.850006,45155200,0.24,0.0
2024-02-12 00:00:00-05:00,188.419998,188.669998,186.789993,187.149994,41781900,0.00,0.0
2024-02-13 00:00:00-05:00,185.770004,186.210007,183.509995,185.039993,56529500,0.00,0.0
2024-02-14 00:00:00-05:00,185.320007,185.529999,182.440002,184.149994,54630500,0.00,0.0
2024-02-15 00:00:00-05:00,183.550003,184.490005,181.350006,183.860001,65434500,0.00,0.0
2024-02-16 00:00:00-05:00,183.419998,184.850006,181.669998,182.309998,49701400,0.00,0.0
2024-02-20 00:00:00-05:00,181.789993,182.429993,180.000000,181.559998,53665600,0.00,0.0
2024-02-21 00:00:00-05:00,181.940002,182.889999,180.660004,182.320007,41371400,0.00,0.0

In [25]:
# get stock's info
aapl_data.info

{'address1': 'One Apple Park Way',
 'city': 'Cupertino',
 'state': 'CA',
 'zip': '95014',
 'country': 'United States',
 'phone': '408 996 1010',
 'website': 'https://www.apple.com',
 'industry': 'Consumer Electronics',
 'industryKey': 'consumer-electronics',
 'industryDisp': 'Consumer Electronics',
 'sector': 'Technology',
 'sectorKey': 'technology',
 'sectorDisp': 'Technology',
 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, and HomePod. It also provides AppleCare support and cloud services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Fitness+, a personalized fitness service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1976 and is headquartered in Cupertino, California.',
 'fullTimeEmployees': 161000,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Timothy D. Cook',
   'age': 62,
   'title': 'CEO & Director',
   'yearBorn': 1961,
   'fiscalYear': 2023,
   'totalPay': 16239562,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Luca  Maestri',
   'age': 60,
   'title': 'CFO & Senior VP',
   'yearBorn': 1963,
   'fiscalYear': 2023,
   'totalPay': 4612242,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Jeffrey E. Williams',
   'age': 59,
   'title': 'Chief Operating Officer',
   'yearBorn': 1964,
   'fiscalYear': 2023,
   'totalPay': 4637585,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Katherine L. Adams',
   'age': 59,
   'title': 'Senior VP, General Counsel & Secretary',
   'yearBorn': 1964,
   'fiscalYear': 2023,
   'totalPay': 4618064,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': "Ms. Deirdre  O'Brien",
   'age': 56,
   'title': 'Senior Vice President of Retail',
   'yearBorn': 1967,
   'fiscalYear': 2023,
   'totalPay': 4613369,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Chris  Kondo',
   'title': 'Senior Director of Corporate Accounting',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. James  Wilson',
   'title': 'Chief Technology Officer',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Suhasini  Chandramouli',
   'title': 'Director of Investor Relations',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Greg  Joswiak',
   'title': 'Senior Vice President of Worldwide Marketing',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Adrian  Perica',
   'age': 49,
   'title': 'Head of Corporate Development',
   'yearBorn': 1974,
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 4,
 'boardRisk': 1,
 'compensationRisk': 6,
 'shareHolderRightsRisk': 1,
 'overallRisk': 1,
 'governanceEpochDate': 1706745600,
 'compensationAsOfEpochDate': 1703980800,
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 181.56,
 'open': 181.94,
 'dayLow': 180.66,
 'dayHigh': 182.8888,
 'regularMarketPreviousClose': 181.56,
 'regularMarketOpen': 181.94,
 'regularMarketDayLow': 180.66,
 'regularMarketDayHigh': 182.8888,
 'dividendRate': 0.96,
 'dividendYield': 0.0053,
 'exDividendDate': 1707436800,
 'payoutRatio': 0.14770001,
 'fiveYearAvgDividendYield': 0.78,
 'beta': 1.312,
 'trailingPE': 28.35459,
 'forwardPE': 25.499302,
 'volume': 39054026,
 'regularMarketVolume': 39054026,
 'averageVolume': 54011552,
 'averageVolume10days': 50479040,
 'averageDailyVolume10Day': 50479040,
 'bidSize': 1300,
 'askSize': 900,
 'marketCap': 2815367315456,
 'fiftyTwoWeekLow': 143.9,
 'fiftyTwoWeekHigh': 199.62,
 'priceToSalesTrailing12Months': 7.2992573,
 'fiftyDayAverage': 189.6462,
 'twoHundredDayAverage': 183.5509,
 'trailingAnnualDividendRate': 0.95,
 'trailingAnnualDividendYield': 0.00523243,
 'currency': 'USD',
 'enterpriseValue': 2850303770624,
 'profitMargins': 0.26163,
 'floatShares': 15414703289,
 'sharesOutstanding': 15441899520,
 'sharesShort': 99244672,
 'sharesShortPriorMonth': 108220157,
 'sharesShortPreviousMonthDate': 1703808000,
 'dateShortInterest': 1706659200,
 'sharesPercentSharesOut': 0.0064,
 'heldPercentInsiders': 0.059369996,
 'heldPercentInstitutions': 0.56648,
 'shortRatio': 1.76,
 'shortPercentOfFloat': 0.0064,
 'impliedSharesOutstanding': 15770500096,
 'bookValue': 4.793,
 'priceToBook': 38.038807,
 'lastFiscalYearEnd': 1696032000,
 'nextFiscalYearEnd': 1727654400,
 'mostRecentQuarter': 1703894400,
 'earningsQuarterlyGrowth': 0.131,
 'netIncomeToCommon': 100912996352,
 'trailingEps': 6.43,
 'forwardEps': 7.15,
 'pegRatio': 2.52,
 'lastSplitFactor': '4:1',
 'lastSplitDate': 1598832000,
 'enterpriseToRevenue': 7.39,
 'enterpriseToEbitda': 21.907,
 '52WeekChange': 0.2152611,
 'SandP52WeekChange': 0.24005806,
 'lastDividendValue': 0.24,
 'lastDividendDate': 1707436800,
 'exchange': 'NMS',
 'quoteType': 'EQUITY',
 'symbol': 'AAPL',
 'underlyingSymbol': 'AAPL',
 'shortName': 'Apple Inc.',
 'longName': 'Apple Inc.',
 'firstTradeDateEpochUtc': 345479400,
 'timeZoneFullName': 'America/New_York',
 'timeZoneShortName': 'EST',
 'uuid': '8b10e4ae-9eeb-3684-921a-9ab27e4d87aa',
 'messageBoardId': 'finmb_24937',
 'gmtOffSetMilliseconds': -18000000,
 'currentPrice': 182.32,
 'targetHighPrice': 250.0,
 'targetLowPrice': 158.0,
 'targetMeanPrice': 201.08,
 'targetMedianPrice': 200.0,
 'recommendationMean': 2.2,
 'recommendationKey': 'buy',
 'numberOfAnalystOpinions': 39,
 'totalCash': 73100001280,
 'totalCashPerShare': 4.734,
 'ebitda': 130108997632,
 'totalDebt': 108040003584,
 'quickRatio': 0.92,
 'currentRatio': 1.073,
 'totalRevenue': 385706000384,
 'debtToEquity': 145.803,
 'revenuePerShare': 24.648,
 'returnOnAssets': 0.21181,
 'returnOnEquity': 1.5426899,
 'freeCashflow': 86563127296,
 'operatingCashflow': 116433002496,
 'earningsGrowth': 0.16,
 'revenueGrowth': 0.021,
 'grossMargins': 0.45027,
 'ebitdaMargins': 0.33733,
 'operatingMargins': 0.33764,
 'financialCurrency': 'USD',
 'trailingPegRatio': 2.278}

In [26]:
# show corporate actions
aapl_data.actions

                           Dividends  Stock Splits
Date
2024-02-09 00:00:00-05:00       0.24           0.0

In [27]:
# show financials
aapl_data.financials

,2023-09-30,2022-09-30,2021-09-30,2020-09-30
Tax Effect Of Unusual Items,0.0,0.0,0.0,0.0
Tax Rate For Calcs,0.147,0.162,0.133,0.144
Normalized EBITDA,129188000000.0,133138000000.0,123136000000.0,81020000000.0
Net Income From Continuing Operation Net Minority Interest,96995000000.0,99803000000.0,94680000000.0,57411000000.0
Reconciled Depreciation,11519000000.0,11104000000.0,11284000000.0,11056000000.0
Reconciled Cost Of Revenue,214137000000.0,223546000000.0,212981000000.0,169559000000.0
EBITDA,129188000000.0,133138000000.0,123136000000.0,81020000000.0
EBIT,117669000000.0,122034000000.0,111852000000.0,69964000000.0
Net Interest Income,-183000000.0,-106000000.0,198000000.0,890000000.0
Interest Expense,3933000000.0,2931000000.0,2645000000.0,2873000000.0
Interest Income,3750000000.0,2825000000.0,2843000000.0,3763000000.0
Normalized Income,96995000000.0,99803000000.0,94680000000.0,57411000000.0
Net Income From Continuing And Discontinued Operation,96995000000.0,99803000000.0,94680000000.0,57411000000.0
Total Expenses,268984000000.0,274891000000.0,256868000000.0,208227000000.0
Total Operating Income As Reported,114301000000.0,119437000000.0,108949000000.0,66288000000.0
Diluted Average Shares,15812547000.0,16325819000.0,16864919000.0,17528214000.0
Basic Average Shares,15744231000.0,16215963000.0,16701272000.0,17352119000.0
Diluted EPS,6.13,6.11,5.61,3.28
Basic EPS,6.16,6.15,5.67,3.31
Diluted NI Availto Com Stockholders,96995000000.0,99803000000.0,94680000000.0,57411000000.0
Net Income Common Stockholders,96995000000.0,99803000000.0,94680000000.0,57411000000.0
Net Income,96995000000.0,99803000000.0,94680000000.0,57411000000.0
Net Income Including Noncontrolling Interests,96995000000.0,99803000000.0,94680000000.0,57411000000.0
Net Income Continuous Operations,96995000000.0,99803000000.0,94680000000.0,57411000000.0
Tax Provision,16741000000.0,19300000000.0,14527000000.0,9680000000.0
Pretax Income,113736000000.0,119103000000.0,109207000000.0,67091000000.0
Other Income Expense,-382000000.0,-228000000.0,60000000.0,-87000000.0
Other Non Operating Income Expenses,-382000000.0,-228000000.0,60000000.0,-87000000.0
Net Non Operating Interest Income Expense,-183000000.0,-106000000.0,198000000.0,890000000.0
Interest Expense Non Operating,3933000000.0,2931000000.0,2645000000.0,2873000000.0
Interest Income Non Operating,3750000000.0,2825000000.0,2843000000.0,3763000000.0
Operating Income,114301000000.0,119437000000.0,108949000000.0,66288000000.0
Operating Expense,54847000000.0,51345000000.0,43887000000.0,38668000000.0
Research And Development,29915000000.0,26251000000.0,21914000000.0,18752000000.0
Selling General And Administration,24932000000.0,25094000000.0,21973000000.0,19916000000.0
Gross Profit,169148000000.0,170782000000.0,152836000000.0,104956000000.0
Cost Of Revenue,214137000000.0,223546000000.0,212981000000.0,169559000000.0
Total Revenue,383285000000.0,394328000000.0,365817000000.0,274515000000.0
Operating Revenue,383285000000.0,394328000000.0,365817000000.0,274515000000.0

In [28]:
# show quarterly financials
aapl_data.quarterly_financials

,2023-12-31,2023-09-30,2023-06-30,2023-03-31,2022-12-31
Tax Effect Of Unusual Items,0.0,0.0,0.0,0.0,0.0
Tax Rate For Calcs,0.159,0.149715,0.125,0.149,0.158
Normalized EBITDA,43221000000.0,30653000000.0,26783000000.0,32210000000.0,38932000000.0
Net Income From Continuing Operation Net Minority Interest,33916000000.0,22956000000.0,19881000000.0,24160000000.0,29998000000.0
Reconciled Depreciation,2848000000.0,2653000000.0,3052000000.0,2898000000.0,2916000000.0
Reconciled Cost Of Revenue,64720000000.0,49071000000.0,45384000000.0,52860000000.0,66822000000.0
EBITDA,43221000000.0,30653000000.0,26783000000.0,32210000000.0,38932000000.0
EBIT,40373000000.0,28000000000.0,23731000000.0,29312000000.0,36016000000.0
Net Interest Income,NaN,-18000000.0,-18000000.0,-12000000.0,-135000000.0
Interest Expense,NaN,1002000000.0,998000000.0,930000000.0,1003000000.0
Interest Income,NaN,984000000.0,980000000.0,918000000.0,868000000.0
Normalized Income,33916000000.0,22956000000.0,19881000000.0,24160000000.0,29998000000.0
Net Income From Continuing And Discontinued Operation,33916000000.0,22956000000.0,19881000000.0,24160000000.0,29998000000.0
Total Expenses,79202000000.0,62529000000.0,58799000000.0,66518000000.0,81138000000.0
Total Operating Income As Reported,40373000000.0,26969000000.0,22998000000.0,28318000000.0,36016000000.0
Diluted Average Shares,15576641000.0,15672400000.0,15775021000.0,15847050000.0,15955718000.0
Basic Average Shares,15509763000.0,15599434000.0,15697614000.0,15787154000.0,15892723000.0
Diluted EPS,2.18,1.46,1.26,1.52,1.88
Basic EPS,2.19,1.47,1.27,1.53,1.89
Diluted NI Availto Com Stockholders,33916000000.0,22956000000.0,19881000000.0,24160000000.0,29998000000.0
Net Income Common Stockholders,33916000000.0,22956000000.0,19881000000.0,24160000000.0,29998000000.0
Net Income,33916000000.0,22956000000.0,19881000000.0,24160000000.0,29998000000.0
Net Income Including Noncontrolling Interests,33916000000.0,22956000000.0,19881000000.0,24160000000.0,29998000000.0
Net Income Continuous Operations,33916000000.0,22956000000.0,19881000000.0,24160000000.0,29998000000.0
Tax Provision,6407000000.0,4042000000.0,2852000000.0,4222000000.0,5625000000.0
Pretax Income,40323000000.0,26998000000.0,22733000000.0,28382000000.0,35623000000.0
Other Income Expense,-50000000.0,47000000.0,-247000000.0,76000000.0,-393000000.0
Other Non Operating Income Expenses,-50000000.0,47000000.0,-247000000.0,76000000.0,-393000000.0
Net Non Operating Interest Income Expense,NaN,-18000000.0,-18000000.0,-12000000.0,-135000000.0
Interest Expense Non Operating,NaN,1002000000.0,998000000.0,930000000.0,1003000000.0
Interest Income Non Operating,NaN,984000000.0,980000000.0,918000000.0,868000000.0
Operating Income,40373000000.0,26969000000.0,22998000000.0,28318000000.0,36016000000.0
Operating Expense,14482000000.0,13458000000.0,13415000000.0,13658000000.0,14316000000.0
Research And Development,7696000000.0,7307000000.0,7442000000.0,7457000000.0,7709000000.0
Selling General And Administration,6786000000.0,6151000000.0,5973000000.0,6201000000.0,6607000000.0
Gross Profit,54855000000.0,40427000000.0,36413000000.0,41976000000.0,50332000000.0
Cost Of Revenue,64720000000.0,49071000000.0,45384000000.0,52860000000.0,66822000000.0
Total Revenue,119575000000.0,89498000000.0,81797000000.0,94836000000.0,117154000000.0
Operating Revenue,119575000000.0,89498000000.0,81797000000.0,94836000000.0,117154000000.0

### How to do it...

1. Import the libraries:

In [29]:
import pandas as pd 
import nasdaqdatalink

2. Authenticate using the personal API key:

In [30]:
nasdaqdatalink.ApiConfig.api_key = "NPw6iHJReYpc6rbyE6Yd"

3. Download the data:

In [31]:
df = nasdaqdatalink.get(dataset="WIKI/AAPL",
                        start_date="2011-01-01", 
                        end_date="2021-12-31")

4. Inspect the data:

In [32]:
print(f"Downloaded {len(df)} rows of data.")
df.head()

Downloaded 1818 rows of data.

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2011-01-03,325.6400,330.26,324.8365,329.57,15897800.0,0.0,1.0,41.849279,42.443013,41.746018,42.354338,111284600.0
2011-01-04,332.4400,332.50,328.1500,331.29,11038600.0,0.0,1.0,42.723173,42.730884,42.171849,42.575382,77270200.0
2011-01-05,329.5500,334.34,329.5000,334.00,9125700.0,0.0,1.0,42.351768,42.967350,42.345342,42.923655,63879900.0
2011-01-06,334.7194,335.25,332.9000,333.73,10729600.0,0.0,1.0,43.016108,43.084298,42.782290,42.888956,75107200.0
2011-01-07,333.9900,336.35,331.9000,336.12,11140400.0,0.0,1.0,42.922370,43.225663,42.653776,43.196105,77982800.0

### There's more

1. Download the data for multiple tickers using the `get_table` function:

In [33]:
COLUMNS = ["ticker", "date", "adj_close"]
df = nasdaqdatalink.get_table("WIKI/PRICES", 
                              ticker=["AAPL", "MSFT", "INTC"], 
                              qopts={"columns": COLUMNS}, 
                              date={"gte": "2011-01-01", 
                                    "lte": "2021-12-31"}, 
                              paginate=True)
df.head()

     ticker       date  adj_close
None
0      MSFT 2018-03-27      89.47
1      MSFT 2018-03-26      93.78
2      MSFT 2018-03-23      87.18
3      MSFT 2018-03-22      89.79
4      MSFT 2018-03-21      92.48

2. Pivot the data from long to wide:

In [34]:
# set the date as index
df = df.set_index("date")

# use the pivot function to reshape the data
df_wide = df.pivot(columns="ticker")
df_wide.head()

            adj_close
ticker           AAPL       INTC       MSFT
date
2011-01-03  42.354338  16.488706  23.211568
2011-01-04  42.575382  16.725954  23.300747
2011-01-05  42.923655  16.559880  23.228159
2011-01-06  42.888956  16.425440  23.908412
2011-01-07  43.196105  16.338449  23.725905